<h1>Admin</h1>

<button (click)="logout()"
    class="btn-info btn-size">Logout
</button>

<div class="registration-page-container">
	<header class="header-title-container py-2 mb-4 border-bottom animation-bar-width">
		<h4>Cadastro de usuários</h4>
	</header>

    <button [routerLink]="['/usuario/form']"
            class="btn-primary btn-size">Cadastrar
    </button>
    
	<!--TABS -->
	<div class="d-flex pt-3 anim-showInUp" style="cursor:pointer">
		<div (click)="onInst()" [class.inactive-tab]="!isUserTab" style="margin-right:20px">
			<h5 class="mr-2 cursor-pointer">Instituições</h5>
		</div>
		<div (click)="onUser()" [class.inactive-tab]="isUserTab">
			<h5 class="mx-2 cursor-pointer">Usuarios</h5>
		</div>
	</div>

	<div [class.inactiveSelected]="!isUserTab" class="tab-underline anim-showInUp anim-delay-2"></div>

    <ng-container *ngIf="isUserTab">
        <div class="list-title">
            <span class="text-black col-3 mb-0" style="margin-right:305px">Nome</span>
            <span class="text-black col-3 mb-0" style="margin-right:275px">Email</span>
            <span class="text-black col-3 mb-0" style="margin-right:260px">Celular</span>
            <span class="text-black col-3 mb-0" style="margin-right:20px">Documento</span>
        </div>
        <hr>
        <ng-container *ngFor="let register of list; let i = index;">
            <ul>
                <li *ngIf="(register?.kind)==2" class="list-content py-3">
                    <div class="d-flex">
                        <p class="col-3 mb-0 outline-none">{{register?.nome}}</p>
                        <p class="col-3 mb-0 outline-none">{{register?.email}}</p>
                        <p class="col-3 mb-0 outline-none">{{register?.celular}}</p>
                        <p class="col-3 mb-0 outline-none">{{register?.document}}</p>
                    </div>
                </li>
            </ul>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!isUserTab">
        <div class="list-title">
            <span class="text-black col-3 mb-0" style="margin-right:305px">Nome</span>
            <span class="text-black col-3 mb-0" style="margin-right:275px">Email</span>
            <span class="text-black col-3 mb-0" style="margin-right:260px">Celular</span>
            <span class="text-black col-3 mb-0" style="margin-right:20px">Documento</span>
        </div>
        <hr>
        <ng-container *ngFor="let register of list; let i = index;">
            <ul>
                <li *ngIf="(register?.kind)==1" class="list-content py-3">
                    <div class="d-flex">
                        <p class="col-3 mb-0 outline-none">{{register?.nome}}</p>
                        <p class="col-3 mb-0 outline-none">{{register?.email}}</p>
                        <p class="col-3 mb-0 outline-none">{{register?.celular}}</p>
                        <p class="col-3 mb-0 outline-none">{{register?.document}}</p>
                    </div>
                </li>
            </ul>
        </ng-container>
    </ng-container>
</div>